
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}
.container{
    margin: auto;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}
#logo img{
    height: 50px;
    border-right: 1px solid grey;
    padding-right: 20px;
}
nav{
    margin: 40px 0px;
}
nav li{
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding-right: 10px;
}
nav li a{
    color: grey;
}
nav li a:hover{
    text-decoration: underline;
}
.sez1{
    height: 500px;
    border-radius: 20px;
    background-image: url(img/banner.jpg);
    background-size: cover;
    position: relative;
}
.sez1_text{
    width: 60%;
    color:white;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.sez2{
    margin: 40px 0px;
    
}
.head_sez2 h1{
    font-size: 50px;
}

.sez2 p{
    color: gray;
}

.colonne{
    margin-top: 10px;
}

.colonne::after{
    content:"";
    clear: both;
    display: table;
}

.blocco img{
    object-fit: cover;
    height: 200px;
    border-radius: 20px;
    width: 100%;
    display: block;
    /* toglie mini margin default */
}
.img_container{
    position: relative;
}
.overlay{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.2);
    border-radius: 20px;
}

.text_block{
    margin-top: 20px;
}

.text_block p{
    margin-top: 10px;
}

.blocco{
    float: left;
    margin: 2% 0%;
}

.block1,.block3{
    width: 20%;
}

.block2{
    width: 58%;
    margin: 2% 1%;
}

footer{
    text-align: center;
    margin-top: 5px;
}



