*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;

}
.container{
    margin: auto;
    width: 80%;
}
#logo img{
    height: 50px;
    border-right: 1px solid lightgrey;
    padding-right: 20px;
}
nav{
    margin: 40px 0px;
}
nav li{
    display: inline;
    text-transform: uppercase;
    list-style: none;
    padding-right: 10px;
}
nav li a{
    color: lightgrey;
}
nav li a:hover{
    text-decoration: underline;
}
.sez1{
    height: 500px;
    border-radius: 20px;
    background-image: url(img/banner.jpg);
    background-size: cover;
    position: relative;
}
.sez1_text{
    width: 60%;
    color:white;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.sez2{
    background-color:royalblue;
    margin:40px 0px;
}
.head_sez2 h1{
    font-size: 50px;
}
.head_sez2 p{
    color: gray;
}

.colonne::after{
    content:"";
    clear: both;
    display: table;
}

.head_sez2,
.blocco{
    background-color: lightskyblue;
}


.blocco img{
    object-fit: cover;
    height: 200px;
    border-radius: 20px;
    width: 100%;
    display: block;
    /* toglie mini margin default */
}
.img_container{
    position: relative;
}
.overlay{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.2);
    border-radius: 20px;
}


.blocco{
    height: 350px;
    float: left;
    margin: 2% 0%;
}

.block1,.block3{
    width: 20%;
}

.block2{
    width: 58%;
    margin: 2% 1%;
}

    
footer{
    height: 50px;
    background-color: purple;
    margin-top: 10px;
}


